
FACTUS_USERNAME="your-factus-username"
FACTUS_PASSWORD="your-factus-password"
FACTUS_CLIENT_ID="your-factus-client-id"
FACTUS_CLIENT_SECRET="your-factus-client-secret"
FACTUS_BASE_URL="https://api-sandbox.factus.com.co"

FACTUS_NUMBERING_RANGE_ID="389"
FACTUS_DEFAULT_TAX_RATE="19.00"
FACTUS_DEFAULT_UNIT_MEASURE_CODE="94"
FACTUS_DEFAULT_PAYMENT_FORM="1"
FACTUS_DEFAULT_PAYMENT_METHOD_CODE="10"


WHATSAPP_SESSION_PATH="./.wwebjs_auth"
WHATSAPP_CLIENT_ID="factus-bot"

PORT="3000"
